/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

 :root {
  --cc1-head: #4298B5;
  --cc1-bg: #c7e2eb;
  --cc2-head: #273a3f;
  --cc2-bg: #c0d3d8;
  --cc3-head: #92B06A;
  --cc3-bg: #dae5cd;
  --cc4-head: #9900ff;
  --cc4-bg: #e0b3ff;
  --cc5-head: #DD5F32;
  --cc5-bg: #f4ccbd;
  --cc6-head: #FFA200;
  --cc6-bg: #ffe3b3;
  --cc7-head: #00A03E;
  --cc7-bg: #c6ecd4;
  --cc8-head: #24A8AC;
  --cc8-bg: #bff0f2;
  --cc9-head: #cccc00;
  --cc9-bg: #ffffcc;
  --cc10-head: #fa8072;
  --cc10-bg: #fdd3ce;
 }

.dashboard {
  height: calc(100vh - 100px);
  padding: 15px;
}

.draggable-controller
{
  width: 220px;
  float: left;
}

span[class*='cc-'].unassigned {
  background-color: gray !important;
}

.cc-1 {
  border-color: var(--cc1-head);
  background-color: var(--cc1-bg);
}

.cc-1 > .cc-1-heading {
  color: #fff;
  background-color: var(--cc1-head);
  border-color: var(--cc1-head);
}

.cc-1.label {
  background-color: var(--cc1-head);
}

.cc-2 {
  border-color: var(--cc2-head);
  background-color: var(--cc2-bg);
}

.cc-2 > .cc-2-heading {
  color: #fff;
  background-color: var(--cc2-head);
  border-color: var(--cc2-head);
}

.cc-2.label {
  background-color: var(--cc2-head);
}

.cc-3 {
  border-color: var(--cc3-head);
  background-color: var(--cc3-bg);
}

.cc-3 > .cc-3-heading {
  color: #fff;
  background-color: var(--cc3-head);
  border-color: var(--cc3-head);
}

.cc-3.label {
  background-color: var(--cc3-head);
}

.cc-4 {
  border-color: var(--cc4-head);
  background-color: var(--cc4-bg);
}

.cc-4 > .cc-4-heading {
  color: #fff;
  background-color: var(--cc4-head);
  border-color: var(--cc4-head);
}

.cc-4.label {
  background-color: var(--cc4-head);
}

.cc-5 {
  border-color: var(--cc5-head);
  background-color: var(--cc5-bg);
}

.cc-5 > .cc-5-heading {
  color: #fff;
  background-color: var(--cc5-head);
  border-color: var(--cc5-head);
}

.cc-5.label {
  background-color: var(--cc5-head);
}

.cc-6 {
  border-color: var(--cc6-head);
  background-color: var(--cc6-bg);
}

.cc-6 > .cc-6-heading {
  color: #fff;
  background-color: var(--cc6-head);
  border-color: var(--cc6-head);
}

.cc-6.label {
  background-color: var(--cc6-head);
}

.cc-7 {
  border-color: var(--cc7-head);
  background-color: var(--cc7-bg);
}

.cc-7 > .cc-7-heading {
  color: #fff;
  background-color: var(--cc7-head);
  border-color: var(--cc7-head);
}

.cc-7.label {
  background-color: var(--cc7-head);
}

.cc-8 {
  border-color: var(--cc8-head);
  background-color: var(--cc8-bg);
}

.cc-8 > .cc-8-heading {
  color: #fff;
  background-color: var(--cc8-head);
  border-color: var(--cc8-head);
}

.cc-8.label {
  background-color: var(--cc8-head);
}

.cc-9 {
  border-color: var(--cc9-head);
  background-color: var(--cc9-bg);
}

.cc-9 > .cc-9-heading {
  color: #fff;
  background-color: var(--cc9-head);
  border-color: var(--cc9-head);
}

.cc-9.label {
  background-color: var(--cc9-head);
}

.cc-10 {
  border-color: var(--cc10-head);
  background-color: var(--cc10-bg);
}

.cc-10 > .cc-10-heading {
  color: #fff;
  background-color: var(--cc10-head);
  border-color: var(--cc10-head);
}

.cc-10.label {
  background-color: var(--cc10-head);
}

li.borderless {
  border-top: 0 none;
  border-bottom: 0 none;
  padding: 5px 15px;
  background-color: transparent;
  height: 35px;
}

.popover {
  width: 200px;
}

.pad-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
