/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

.dashboard {
  height: calc(100vh - 100px);
}

.draggable-panel
{
  width: 30em;
  float: left;
}

.panel-trigger {
  border: 1px solid #FFC966;
  margin-bottom: 0;
}

.panel-trigger > .panel-heading {
  background-color: #FFC966;
}

.panel-action {
  background-color: #4b9b4b;
}

.panel-event {
  background-color: #666666;
  border: 1px solid #404040;
}

.popover {
  width: 200px;
}

.pad-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}
