/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Main content
 */

.dashboard {
  height: calc(100vh - 100px);
  padding: 15px;
}
.draggable-panel
{
	width: 11.25em;
	float: left;
}
.panel-trigger {
  background-color: orange;
}
.panel-action {
  background-color: green;
}
.panel-black {
  background-color: #ccc;
}
.popover {
  width: 200px;
}