<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Custom styles for this template -->
<link href="static/css/controllers.css" rel="stylesheet">

<!-- Second navbar for this page -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Triggers <span class="caret"></span></a>
          <ul class="dropdown-menu list-group" id="trigger-menu">
            {% for t in triggers %}
            <a class="list-group-item list-group-item-warning" id="{{ t.triggerid }}">{{ t.triggername }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#trigger-menu -->
        </li><!-- /.dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" id="actions-menu">
            {% for a in actions %}
            <a href="#" class="list-group-item list-group-item-success" id="{{ a.actionid }}">{{ a.actionname }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#actions-menu -->
        </li><!-- /.dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sounds <span class="caret"></span></a>
          <ul class="dropdown-menu" id="sounds-menu">
            {% for s in sounds %}
            <a href="#" class="list-group-item list-group-item-info" id="{{ s.soundid }}">{{ s.soundname }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#sounds-menu -->
        </li><!-- /.dropdown -->
      </ul><!-- /.navbar-nav -->
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controllers <span class="caret"></span></a>
      <ul class="dropdown-menu controller-list">
      {% for c in controllers %}
      <li><a href="#">{{ c.controllername }}</a></li>
      {% endfor %}
      </ul><!-- /.dropdown-menu -->
        <li>
        	<button type="button" class="btn btn-default navbar-btn" onclick="checkController()">
        	  <span class="glyphicon glyphicon-plus"></span></span>
        	</button>
        </li>
        </ul><!-- .navbar-right -->
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar-default -->

<!-- Main body content for this page -->
<div class="jumbotron hidden" style="height: 90%">
  <div class="container">
    <h3 class="text-muted">Connect a Controller</h3>
    <p class="text-muted">Press the button on a controller to automatically connect it to this project to begin configuring...</p>
  </div>
</div>
<div class="container-fluid dashboard">
  <!-- Modals -->
  <div class="modal fade" id="connectControllerModal" tabindex="-1" role="dialog" labeledby="connectControllerModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-inline" id="connectControllerForm" action="connect_controller" method="POST">
          <input type="hidden" name="cidform" id="cidform" value="" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="connectControllerModalLabel">Connect A Controller (id:<span id="cid"></span>)</h4>
          </div><!-- /.modal-header -->
          <div class="modal-body">
            <div class="form-group">
              <label for="name" class="control-label">Give it a name:</label>
              <input type="text" class="form-control" id="name" name="name" value="Controller Name"/>
            </div><!-- /.form-group -->
            <div class="form-group">
              <label for="color" class="control-label">Pick a color: </label>
              <select class="form-control" id="color" name="color">
                {% for c in colors %}
                <option value="cc-{{ c.colorid }}">{{ c.colorname }}</option>
                {% endfor %}
              </select>
            </div><!-- /.form-group -->
          </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="connectControllerModalAddButton" data-adding-text="Connecting...">Add</button>
          </div><!-- ./modal-footer -->
        </div><!-- /.modal-content -->
      </form><!-- /.form #updateControllerForm -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal #connectControllerModal -->
  <!-- End Modals -->
  <div class="panel template hidden" id="template-controller">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="controller-name">Controller 1</span><div class="pull-right" data-toggle="modal" data-target="#configControllerModal" data-cid="template-controller"><span class="glyphicon glyphicon-cog"></span></div></h3>
    </div><!-- /.panel-heading -->
    <ul class="list-group">
      <li class="list-group-item borderless">
        <div class="pull-left"><i class="fa fa-arrow-left"></i> Triggers</div>
        <div class="pull-right">Outputs <i class="fa fa-arrow-right"></i></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputa-templateid"><i class="fa fa-toggle-off fa-fw outputa"  data-setting="OFF"></i></span>&nbsp;<span class="label unassigned"><span id="assign-outputa-templateid" data-toggle="popover">A</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label unassigned">1</span></div>
        <div class="pull-right"><span id="toggle-outputb-templateid"><i class="fa fa-toggle-off fa-fw outputb"  data-setting="OFF"></i></span>&nbsp;<span class="label unassigned"><span id="assign-outputb-templateid" data-toggle="popover">B</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label unassigned">2</span></div>
        <div class="pull-right"><span id="toggle-outputc-templateid"><i class="fa fa-toggle-off fa-fw outputc"  data-setting="OFF"></i></span>&nbsp;<span class="label unassigned"><span id="assign-outputc-templateid" data-toggle="popover">C</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputd-templateid"><i class="fa fa-toggle-off fa-fw outputd"  data-setting="OFF"></i></span>&nbsp;<span class="label unassigned"><span id="assign-outputd-templateid" data-toggle="popover">D</span></span></div>
      </li>
    </ul><!-- list-group -->
  </div><!-- /.panel .template -->
  {% for c in controllers %}
  <div class="panel draggable-controller cc-{{ c.controllercolor }}" id="controller-{{ c.controllerid }}">
    <div class="panel-heading cc-{{ c.controllercolor }}-heading">
      <h3 class="panel-title"><span class="controller-name">{{ c.controllername }}</span><div class="pull-right" data-toggle="modal" data-target="#configControllerModal" data-cid="controller-{{ c.controllerid }}"><span class="glyphicon glyphicon-cog"></span></div></h3>
    </div><!-- /.panel-heading -->
    <ul class="list-group">
      <li class="list-group-item borderless">
        <div class="pull-left"><i class="fa fa-arrow-left"></i> Triggers</div>
        <div class="pull-right">Outputs <i class="fa fa-arrow-right"></i></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputa-{{ c.controllerid }}"><i class="fa fa-{% if c.outputa == 'DISABLED' %}ban{% else %}toggle-{{ c.outputa|lower }}{% endif %} fa-fw outputa" data-toggle="tooltip" data-placement="top" title="{% if c.outputa == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputa }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body" data-setting="{{ c.outputa }}"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputaaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputaaction %}Assigned to action {{ c.outputaaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true"><span id="assign-outputa-{{ c.controllerid }}" data-toggle="popover">A</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label cc-{{ c.controllercolor }}">1</span></div>
        <div class="pull-right"><span id="toggle-outputb-{{ c.controllerid }}"><i class="fa fa-{% if c.outputb == 'DISABLED' %}ban{% else %}toggle-{{ c.outputb|lower }}{% endif %} fa-fw outputb" data-toggle="tooltip" data-placement="top" title="{% if c.outputb == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputb }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body" data-setting="{{ c.outputb }}"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputbaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputbaction %}Assigned to action {{ c.outputbaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true"><span id="assign-outputb-{{ c.controllerid }}" data-toggle="popover">B</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label cc-{{ c.controllercolor }}">2</span></div>
        <div class="pull-right"><span id="toggle-outputc-{{ c.controllerid }}"><i class="fa fa-{% if c.outputc == 'DISABLED' %}ban{% else %}toggle-{{ c.outputc|lower }}{% endif %} fa-fw outputc" data-toggle="tooltip" data-placement="top" title="{% if c.outputc == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputc }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body" data-setting="{{ c.outputc }}"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputcaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputcaction %}Assigned to action {{ c.outputcaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true"><span id="assign-outputc-{{ c.controllerid }}" data-toggle="popover">C</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputd-{{ c.controllerid }}"><i class="fa fa-{% if c.outputd == 'DISABLED' %}ban{% else %}toggle-{{ c.outputd|lower }}{% endif %} fa-fw outputd" data-toggle="tooltip" data-placement="top" title="{% if c.outputd == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputd }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body" data-setting="{{ c.outputd }}"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputdaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputdaction %}Assigned to action {{ c.outputdaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true"><span id="assign-outputd-{{ c.controllerid }}" data-toggle="popover">D</span></span></div>
      </li>
    </ul>
  </div><!-- /.panel #controller-{{ c.controllerid }} -->
  {% endfor %}
</div><!-- /.dashboard -->
<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script src="static/js/controllers.js" type="text/javascript"></script>
{% endblock %}
