<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Custom styles for this template -->
<link href="static/css/controllers.css" rel="stylesheet">

<!-- Second navbar for this page -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Triggers <span class="caret"></span></a>
          <ul class="dropdown-menu list-group" id="trigger-menu">
            {% for t in triggers %}
            <a class="list-group-item list-group-item-warning" id="{{ t.triggerid }}">{{ t.triggername }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#trigger-menu -->
        </li><!-- /.dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" id="actions-menu">
            {% for a in actions %}
            <a href="#" class="list-group-item list-group-item-success" id="{{ a.actionid }}">{{ a.actionname }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#actions-menu -->
        </li><!-- /.dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sounds <span class="caret"></span></a>
          <ul class="dropdown-menu" id="sounds-menu">
            {% for s in sounds %}
            <a href="#" class="list-group-item list-group-item-info" id="{{ s.soundid }}">{{ s.soundname }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#sounds-menu -->
        </li><!-- /.dropdown -->
      </ul><!-- /.navbar-nav -->
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controllers <span class="caret"></span></a>
      <ul class="dropdown-menu controller-list">
      {% for c in controllers %}
      <li><a href="#">{{ c.controllername }}</a></li>
      {% endfor %}
      </ul><!-- /.dropdown-menu -->
        <li>
          <div class="btn-group">
        	<button type="button" class="btn btn-default navbar-btn dropdown-toggle" data-toggle="dropdown">
        	  <span class="glyphicon glyphicon-plus"></span><span class="caret"></span>
        	</button>
        	<ul class="dropdown-menu">
        	  <li class="debug-add"><a href="#" onclick="connectController(1)">controller-1</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(2)">controller-2</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(3)">controller-3</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(4)">controller-4</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(5)">controller-5</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(6)">controller-6</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(7)">controller-7</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(8)">controller-8</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(9)">controller-9</a></li>
        	  <li class="debug-add"><a href="#" onclick="connectController(10)">controller-10</a></li>
        	</ul>
          </div>
        </li>
        </ul><!-- .navbar-right -->
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar-default -->

<!-- Main body content for this page -->
<div class="jumbotron hidden" style="height: 90%">
  <div class="container">
    <h3 class="text-muted">Connect a Controller</h3>
    <p class="text-muted">Press the button on a controller to automatically connect it to this project to begin configuring...</p>
  </div>
</div>
<div class="container-fluid dashboard">
  <!-- Modals -->
  <div class="modal fade" id="configControllerModal" tabindex="-1" role="dialog" labeledby="configControllerModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-horizontal" id="updateControllerForm" action="update_controller" method="POST">
          <input type="hidden" name="oldcc" id="oldcc" value="" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <div class="col-xs-5 text-right">
                <h4 class="modal-title" id="configControllerModalLabel">Configure Controller:</h4>
              </div>
              <div class="col-xs-4">
                <select class="form-control" id="controllerSelect" name="controllerSelect">
                  {% for c in controllers %}
                  <option value="controller-{{ c.controllerid }}">{{ c.controllername }}</option>
                  {% endfor %}
                </select>
              </div><!-- /.col-xs-4 -->
          </div><!-- /.modal-header -->
          <div class="modal-body">
            <div class="form-group">
              <label for="name" class="col-xs-2 control-label">Name:</label>
              <div class="col-xs-4">
                <input type="text" class="form-control" id="name" name="name" />
              </div><!-- /.col-xs-4 -->
              <label for="color" class="col-xs-2 control-label">Color: </label>
          	  <div class="col-xs-3">
                <select class="form-control" id="color" name="color">
                  {% for c in colors %}
                  <option value="cc-{{ c.colorid }}">{{ c.colorname }}</option>
                  {% endfor %}
                </select>
          	  </div><!-- /.col-xs-3 -->
            </div><!-- /.form-group -->
            <hr>
            <div class="form-group">
              <label for="outputa" class="col-xs-2 col-xs-offset-6 control-label">Output A:</label>
          	  <div class="col-xs-4">
          		  <select class="form-control output-list" id="outputa" name="outputa">
            			<option value="OFF" checked="checked">Normally OFF</option>
            			<option value="ON">Normally ON</option>
            			<option value="disabled">Disabled</option>
          		  </select>
          	  </div><!-- /.col-xs-4 -->
            </div><!-- /.form-group -->
            <div class="form-group">
              <label for="input1" class="col-xs-2 control-label">Input 1:</label>
          	  <div class="col-xs-4">
          		  <select class="form-control trigger-list" id="input1" name="input1">
            			<option value="">Not configured</option>
            			{% for t in triggers %}
            			<option value="{{ t.triggerid }}">{{ t.triggername }}</option>
            			{% endfor %}
            			<option value="disabled">Disabled</option>
          		  </select>
          	  </div><!-- /.col-xs-4 -->
              <label for="outputb" class="col-xs-2 control-label">Output B:</label>
          	  <div class="col-xs-4">
          		  <select class="form-control output-list" id="outputb" name="outputb">
            			<option value="OFF" checked="checked">Normally OFF</option>
            			<option value="ON">Normally ON</option>
            			<option value="disabled">Disabled</option>
          		  </select>
          	  </div><!-- /.col-xs-4 -->
            </div><!-- /.form-group -->
            <div class="form-group">
              <label for="input2" class="col-xs-2 control-label">Input 2:</label>
          	  <div class="col-xs-4">
          		  <select class="form-control trigger-list" id="input2" name="input2">
            			<option value="">Not configured</option>
            			{% for t in triggers %}
            			<option value="{{ t.triggerid }}">{{ t.triggername }}</option>
            			{% endfor %}
            			<option value="disabled">Disabled</option>
          		  </select>
          	  </div><!-- /.col-xs-4 -->
              <label for="outputc" class="col-xs-2 control-label">Output C:</label>
          	  <div class="col-xs-4">
          		  <select class="form-control output-list" id="outputc" name="outputc">
            			<option value="OFF" checked="checked">Normally OFF</option>
            			<option value="ON">Normally ON</option>
            			<option value="disabled">Disabled</option>
          		  </select>
          	  </div><!-- /.col-xs-4 -->
            </div><!-- /.form-group -->
            <div class="form-group">
              <label for="outputd" class="col-xs-2 col-xs-offset-6 control-label">Output D:</label>
              <div class="col-xs-4">
                <select class="form-control output-list" id="outputd" name="outputd">
                  <option value="OFF" checked="checked">Normally OFF</option>
                  <option value="ON">Normally ON</option>
                  <option value="disabled">Disabled</option>
                </select>
              </div><!-- /.col-xs-4 -->
            </div><!-- /.form-group -->
          </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="configControllerModalSaveButton" data-saving-text="Saving...">Save</button>
          </div><!-- ./modal-footer -->
        </div><!-- /.modal-content -->
      </form><!-- /.form #updateControllerForm -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal #configControllerModal -->
  <!-- End Modals -->
  <div class="panel template hidden" id="template-controller">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="controller-name">Controller 1</span><div class="pull-right" data-toggle="modal" data-target="#configControllerModal" data-cid="template-controller" data-oldcc="template-oldcc"><span class="glyphicon glyphicon-cog"></span></div></h3>
    </div><!-- /.panel-heading -->
    <ul class="list-group">
      <li class="list-group-item borderless">
        <div class="pull-left"><i class="fa fa-arrow-left"></i> Triggers</div>
        <div class="pull-right">Outputs <i class="fa fa-arrow-right"></i></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputa-templateid" data-toggle="popover"><i class="fa fa-toggle-off fa-fw outputa" data-toggle="tooltip" data-placement="top" title="Default OFF<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label unassigned" data-toggle="tooltip" data-placement="right" title="(click to assign)" data-container="body" data-html="true"><span id="assign-outputa-templateid" data-toggle="popover">A</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label unassigned">1</span></div>
        <div class="pull-right"><span id="toggle-outputb-templateid" data-toggle="popover"><i class="fa fa-toggle-off fa-fw outputb" data-toggle="tooltip" data-placement="top" title="Default OFF<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label unassigned" data-toggle="tooltip" data-placement="right" title="(click to assign)" data-container="body" data-html="true"><span id="assign-outputb-templateid" data-toggle="popover">B</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label unassigned">2</span></div>
        <div class="pull-right"><span id="toggle-outputc-templateid" data-toggle="popover"><i class="fa fa-toggle-off fa-fw outputc" data-toggle="tooltip" data-placement="top" title="Default OFF<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label unassigned" data-toggle="tooltip" data-placement="right" title="(click to assign)" data-container="body" data-html="true"><span id="assign-outputc-templateid" data-toggle="popover">C</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputd-templateid" data-toggle="popover"><i class="fa fa-toggle-off fa-fw outputd" data-toggle="tooltip" data-placement="top" title="Default OFF<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label unassigned" data-toggle="tooltip" data-placement="right" title="(click to assign)" data-container="body" data-html="true"><span id="assign-outputd-templateid" data-toggle="popover">D</span></span></div>
      </li>
    </ul><!-- list-group -->
  </div><!-- /.panel .template -->
  {% for c in controllers %}
  <div class="panel draggable-controller cc-{{ c.controllercolor }}" id="controller-{{ c.controllerid }}">
    <div class="panel-heading cc-{{ c.controllercolor }}-heading">
      <h3 class="panel-title"><span class="controller-name">{{ c.controllername }}</span><div class="pull-right" data-toggle="modal" data-target="#configControllerModal" data-cid="controller-{{ c.controllerid }}" data-oldcc="cc-{{ c.controllercolor }}"><span class="glyphicon glyphicon-cog"></span></div></h3>
    </div><!-- /.panel-heading -->
    <ul class="list-group">
      <li class="list-group-item borderless">
        <div class="pull-left"><i class="fa fa-arrow-left"></i> Triggers</div>
        <div class="pull-right">Outputs <i class="fa fa-arrow-right"></i></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputa-{{ c.controllerid }}" data-toggle="popover"><i class="fa fa-{% if c.outputa == 'disabled' %}ban{% else %}toggle-{{ c.outputa|lower }}{% endif %} fa-fw outputa" data-toggle="tooltip" data-placement="top" data-title="{% if c.outputa == 'disabled' %}DISABLED{% else %}Default {{ c.outputa }}{% endif %}<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputaaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputaaction %}Assigned to action {{ c.outputaaction }}.<br>{% endif %}(click to assign)" data-container="body" data-html="true"><span id="assign-outputa-{{ c.controllerid }}" data-toggle="popover">A</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label cc-{{ c.controllercolor }}">1</span></div>
        <div class="pull-right"><span id="toggle-outputb-{{ c.controllerid }}" data-toggle="popover"><i class="fa fa-{% if c.outputb == 'disabled' %}ban{% else %}toggle-{{ c.outputb|lower }}{% endif %} fa-fw outputb" data-toggle="tooltip" data-placement="top" title="{% if c.outputb == 'disabled' %}DISABLED{% else %}Default {{ c.outputb }}{% endif %}<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputbaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputbaction %}Assigned to action {{ c.outputbaction }}.<br>{% endif %}(click to assign)" data-container="body" data-html="true"><span id="assign-outputb-{{ c.controllerid }}" data-toggle="popover">B</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label cc-{{ c.controllercolor }}">2</span></div>
        <div class="pull-right"><span id="toggle-outputc-{{ c.controllerid }}" data-toggle="popover"><i class="fa fa-{% if c.outputc == 'disabled' %}ban{% else %}toggle-{{ c.outputc|lower }}{% endif %} fa-fw outputc" data-toggle="tooltip" data-placement="top" title="{% if c.outputc == 'disabled' %}DISABLED{% else %}Default {{ c.outputc }}{% endif %}<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputcaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputcaction %}Assigned to action {{ c.outputcaction }}.<br>{% endif %}(click to assign)" data-container="body" data-html="true"><span id="assign-outputc-{{ c.controllerid }}" data-toggle="popover">C</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputd-{{ c.controllerid }}" data-toggle="popover"><i class="fa fa-{% if c.outputd == 'disabled' %}ban{% else %}toggle-{{ c.outputd|lower }}{% endif %} fa-fw outputd" data-toggle="tooltip" data-placement="top" title="{% if c.outputd == 'disabled' %}DISABLED{% else %}Default {{ c.outputd }}{% endif %}<br>(click to toggle)" data-container="body" data-html="true"></i></span>&nbsp;<span class="label cc-{{ c.controllercolor }}{% if c.outputdaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputdaction %}Assigned to action {{ c.outputdaction }}.<br>{% endif %}(click to assign)" data-container="body" data-html="true"><span id="assign-outputd-{{ c.controllerid }}" data-toggle="popover">D</span></span></div>
      </li>
    </ul>
  </div><!-- /.panel #controller-{{ c.controllerid }} -->
  {% endfor %}
</div><!-- /.dashboard -->
<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script src="static/js/controllers.js" type="text/javascript"></script>
{% endblock %}
