<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<!-- Custom styles for this template -->
<link href="static/css/controllers.css" rel="stylesheet">

<!-- Second navbar for this page -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Triggers <span class="caret"></span></a>
          <ul class="dropdown-menu list-group" id="trigger-menu">
            {% for t in triggers %}
            <a class="list-group-item" id="trigger-{{ t.triggerid }}">{{ t.triggername }}</a>
            {% endfor %}
          </ul><!-- /#trigger-menu -->
        </li><!-- /.dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions <span class="caret"></span></a>
          <ul class="dropdown-menu" id="actions-menu">
            {% for a in actions %}
            <a href="#" class="list-group-item list-group-item-success" id="{{ a.actionid }}">{{ a.actionname }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#actions-menu -->
        </li><!-- /.dropdown -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sounds <span class="caret"></span></a>
          <ul class="dropdown-menu" id="sounds-menu">
            {% for s in sounds %}
            <a href="#" class="list-group-item list-group-item-info" id="{{ s.soundid }}">{{ s.soundname }}</a>
            {% endfor %}
            <a class="list-group-item" href="#" id="config-triggers">Configure...</a>
          </ul><!-- /#sounds-menu -->
        </li><!-- /.dropdown -->
      </ul><!-- /.navbar-nav -->
      <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Controllers <span class="caret"></span></a>
      <ul class="dropdown-menu controller-list">
      {% for c in controllers %}
      <li><a href="#">{{ c.controllername }}</a></li>
      {% endfor %}
      </ul><!-- /.dropdown-menu -->
        <li>
        	<button type="button" class="btn btn-default navbar-btn" onclick="checkController()">
        	  <span class="glyphicon glyphicon-plus"></span></span>
        	</button>
        </li>
        </ul><!-- .navbar-right -->
      </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- /.navbar-default -->

<!-- Main body content for this page -->
<div class="jumbotron hidden" style="height: 90%">
  <div class="container">
    <h3 class="text-muted">Connect a Controller</h3>
    <p class="text-muted">Press the button on a controller to automatically connect it to this project to begin configuring...</p>
  </div>
</div>
<div class="container-fluid dashboard">
  <!-- Modals -->
  <div class="modal fade" id="connectControllerModal" tabindex="-1" role="dialog" labeledby="connectControllerModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-horizontal" id="connectControllerForm">
          <input type="hidden" name="cidform" id="cidform" value="" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="connectControllerModalLabel">Connect Controller (id:<span id="cid"></span>)</h4>
          </div><!-- /.modal-header -->
          <div class="modal-body">
            <div class="text-muted pad-6">
              <em><small>A controller has been detected. Give it a name and a color to help you identify it on this dashboard. Click Add to connect it to this project.</small></em>
            </div>
            <div class="form-group">
              <label for="name" class="col-xs-3 control-label">Name:</label>
              <div class="col-xs-5">
                <input type="text" class="form-control" id="name" name="name" value="My Controller" />
              </div><!-- /.col -->
            </div><!-- /.form-group -->
            <div class="form-group">
              <label for="color" class="col-xs-3 control-label">Color: </label>
              <div class="col-xs-3">
                <select class="form-control" id="color" name="color">
                  {% for c in colors %}
                  <option value="cc-{{ c.colorid }}">{{ c.colorname }}</option>
                  {% endfor %}
                </select>
              </div><!-- /.col -->
            </div><!-- /.form-group -->
          </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="connectControllerModalAddButton" data-adding-text="Connecting...">Add</button>
          </div><!-- ./modal-footer -->
        </div><!-- /.modal-content -->
      </form><!-- /.form #connectControllerForm -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal #connectControllerModal -->
  <div class="modal fade" id="addTriggerModal" tabindex="-1" role="dialog" labeledby="addTriggerModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form class="form-horizontal" id="addTriggerForm">
          <input type="hidden" name="controllerid" id="addTriggerCID" />
          <input type="hidden" name="triggernum" id="triggernum" />
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="addTriggerModalLabel">Assign Trigger to <span id="modalControllerName"></span></h4>
          </div><!-- /.modal-header -->
          <div class="modal-body">
            <div class="form-group">
              <label for="triggerName" class="col-xs-3 control-label">Name:</label>
              <div class="col-xs-5">
                <input type="text" class="form-control" id="triggerName" name="triggerName" value="My Trigger" />
              </div>
            </div><!-- /.form-group -->
            <div class="form-group pad-6">
              <label for="triggerType" class="col-xs-3 control-label">Trigger Type:</label>
              <div class="col-xs-4">
                <select class="form-control" id="triggerType" name="triggerType">
                  {% for t in triggers %}
                  <option value="{{ t.triggerid }}">{{ t.triggername }}</option>
                  {% endfor %}
                </select>
              </div>
            </div><!-- /.form-group -->
            <div class="form-group triggerForm pad-6" id="Motion">
              <label for="resetTime" class="col-xs-3 control-label">Time to reset:</label>
              <div class="col-xs-3">
                <div class="input-group">
                  <input type="text" class="form-control" id="resetTime" name="resetTime" value="30000" />
                  <div class="input-group-addon">ms</div>
                </div>
              </div>
              <div class="col-xs-4 form-control-static">
                <em>Time before motion sensor detects motion again.</em>
              </div>
            </div><!-- /#Motion -->
            <div class="form-group triggerForm pad-6 hidden" id="Pushbutton">
              <label for="defaultStateOn" class="col-xs-3 control-label">Default state: </label>
              <div class="col-xs-3">
                <label class="radio-inline">
                  <input type="radio" name="defaultState" id="defaultStateOn" value="ON"> On
                </label>
                <label class="radio-inline">
                  <input type="radio" name="defaultState" id="defaultStateOff" value="OFF" checked="checked"> Off
                </label>
              </div>
              <div class="col-xs-4 form-control-static">
                <em>Is the pushbutton normally off or normally on?</em>
              </div>
            </div><!-- /#Pushbutton -->
            <div class="form-group triggerForm pad-6 hidden" id="Switch">
              <span class="text-muted col-xs-5 col-xs-offset-3">No parameters to configure.</span>
            </div><!-- /#Switch -->
            <div class="form-group triggerForm pad-6 hidden" id="Interval">
              <label for="cycleTime" class="col-xs-3 control-label">Interval Time:</label>
              <div class="col-xs-3">
                <div class="input-group">
                  <input type="text" class="form-control" id="cycleTime" name="cycleTime" value="10000" />
                  <div class="input-group-addon">ms</div>
                </div>
              </div>
              <div class="col-xs-4 form-control-static">
                <em>Triggers on a regular interval.</em>
              </div>
            </div><!-- /#Interval -->
            <div class="form-group triggerForm pad-6 hidden" id="Random">
              <label for="randomLow" class="col-xs-3 control-label">Between:</label>
              <div class="col-xs-3">
                <div class="input-group">
                  <input type="text" class="form-control" id="randomLow" name="randomLow" value="5000" />
                  <div class="input-group-addon">ms</div>
                </div>
              </div>
              <div class="col-xs-1 form-control-static">and</div>
              <div class="col-xs-3">
                <div class="input-group">
                  <input type="text" class="form-control" id="randomHigh" name="randomHigh" value="15000" />
                  <div class="input-group-addon">ms</div>
                </div>
              </div>
            </div><!-- /#Interval -->
          </div><!-- /.modal-body -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="addTriggerModalAddButton" data-adding-text="Adding...">Add</button>
          </div><!-- ./modal-footer -->
        </div><!-- /.modal-content -->
      </form><!-- /.form #createTriggerForm -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal #createTriggerModal -->
  <!-- End Modals -->
  <div class="panel template hidden" id="template-controller">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="controller-name">Controller 1</span><div class="pull-right" data-toggle="modal" data-target="#configControllerModal" data-cid="template-controller"><span class="glyphicon glyphicon-cog"></span></div></h3>
    </div><!-- /.panel-heading -->
    <ul class="list-group">
      <li class="list-group-item borderless">
        <div class="pull-left"><i class="fa fa-arrow-down"></i> Triggers</div>
        <div class="pull-right">Outputs <i class="fa fa-arrow-down"></i></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputa-templateid"><i class="fa fa-toggle-off fa-fw outputa"  data-setting="OFF"></i></span>&nbsp;<span class="label output unassigned"><span id="assign-outputa-templateid" data-toggle="popover">A</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label input unassigned">1</span></div>
        <div class="pull-right"><span id="toggle-outputb-templateid"><i class="fa fa-toggle-off fa-fw outputb"  data-setting="OFF"></i></span>&nbsp;<span class="label output unassigned"><span id="assign-outputb-templateid" data-toggle="popover">B</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left"><span class="label input unassigned">2</span></div>
        <div class="pull-right"><span id="toggle-outputc-templateid"><i class="fa fa-toggle-off fa-fw outputc"  data-setting="OFF"></i></span>&nbsp;<span class="label output unassigned"><span id="assign-outputc-templateid" data-toggle="popover">C</span></span></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right"><span id="toggle-outputd-templateid"><i class="fa fa-toggle-off fa-fw outputd"  data-setting="OFF"></i></span>&nbsp;<span class="label output unassigned"><span id="assign-outputd-templateid" data-toggle="popover">D</span></span></div>
      </li>
    </ul><!-- list-group -->
  </div><!-- /.panel .template -->
  {% for c in controllers %}
  <div class="panel draggable-controller cc-{{ c.controllercolor }}" id="controller-{{ c.controllerid }}">
    <div class="panel-heading cc-{{ c.controllercolor }}-heading">
      <h3 class="panel-title">
        <span class="controller-name">{{ c.controllername }}</span>
        <div class="pull-right" data-toggle="modal" data-target="#configControllerModal" data-cid="controller-{{ c.controllerid }}">
          <span class="glyphicon glyphicon-cog"></span>
        </div>
      </h3>
    </div><!-- /.panel-heading -->
    <ul class="list-group">
      <li class="list-group-item borderless">
        <div class="pull-left"><i class="fa fa-arrow-down"></i> Triggers</div>
        <div class="pull-right">Outputs <i class="fa fa-arrow-down"></i></div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right">
          <span id="toggle-outputa-{{ c.controllerid }}" data-toggle="tooltip" data-placement="top" title="{% if c.outputa == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputa }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body">
            <i class="fa fa-{% if c.outputa == 'DISABLED' %}ban{% else %}toggle-{{ c.outputa|lower }}{% endif %} fa-fw" data-setting="{{ c.outputa }}"></i>
          </span>&nbsp;
          <span class="label output cc-{{ c.controllercolor }}{% if c.outputaaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputaaction %}Assigned to action {{ c.outputaaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true">
            <span id="assign-outputa-{{ c.controllerid }}" data-toggle="popover">A</span>
          </span>
        </div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left">
          <span class="label input cc-{{ c.controllercolor }}">1</span>
        </div>
        <div class="pull-right">
          <span id="toggle-outputb-{{ c.controllerid }}" data-toggle="tooltip" data-placement="top" title="{% if c.outputb == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputb }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body">
            <i class="fa fa-{% if c.outputb == 'DISABLED' %}ban{% else %}toggle-{{ c.outputb|lower }}{% endif %} fa-fw" data-setting="{{ c.outputb }}"></i>
          </span>&nbsp;
          <span class="label output cc-{{ c.controllercolor }}{% if c.outputbaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputbaction %}Assigned to action {{ c.outputbaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true">
            <span id="assign-outputb-{{ c.controllerid }}" data-toggle="popover">B</span>
          </span>
        </div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-left">
          <span class="label input cc-{{ c.controllercolor }}">2</span>
        </div>
        <div class="pull-right">
          <span id="toggle-outputc-{{ c.controllerid }}" data-toggle="tooltip" data-placement="top" title="{% if c.outputc == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputc }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body">
            <i class="fa fa-{% if c.outputc == 'DISABLED' %}ban{% else %}toggle-{{ c.outputc|lower }}{% endif %} fa-fw" data-setting="{{ c.outputc }}"></i>
          </span>&nbsp;
          <span class="label output cc-{{ c.controllercolor }}{% if c.outputcaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputcaction %}Assigned to action {{ c.outputcaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true">
            <span id="assign-outputc-{{ c.controllerid }}" data-toggle="popover">C</span>
          </span>
        </div>
      </li>
      <li class="list-group-item borderless">
        <div class="pull-right">
          <span id="toggle-outputd-{{ c.controllerid }}" data-toggle="tooltip" data-placement="top" title="{% if c.outputd == 'DISABLED' %}DISABLED{% else %}Default {{ c.outputd }}{% endif %}<br>(Click to toggle)" data-html="true" data-container="body">
            <i class="fa fa-{% if c.outputd == 'DISABLED' %}ban{% else %}toggle-{{ c.outputd|lower }}{% endif %} fa-fw" data-setting="{{ c.outputd }}"></i>
          </span>&nbsp;
          <span class="label output cc-{{ c.controllercolor }}{% if c.outputdaction == '' %} unassigned{% endif %}" data-toggle="tooltip" data-placement="right" title="{% if c.outputdaction %}Assigned to action {{ c.outputdaction }}.<br>{% endif %}(Click to assign)" data-container="body" data-html="true">
            <span id="assign-outputd-{{ c.controllerid }}" data-toggle="popover">D</span>
          </span>
        </div>
      </li>
    </ul>
  </div><!-- /.panel #controller-{{ c.controllerid }} -->
  {% endfor %}
</div><!-- /.dashboard -->
<script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
<script src="static/js/controllers.js" type="text/javascript"></script>
{% endblock %}
